@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .main-navbar {
        @apply fixed top-0 z-40 w-full flex-none transition-all duration-300 lg:z-50  bg-rose-900 py-1 ease-in;
    }

    .main-navbar-scroll {
        @apply bg-rose-900/80 py-0 backdrop-blur;
    }

    .__heading_section {
        @apply font-bold text-rose-900 underline decoration-rose-900;
    }

    .__heading_1 {
        @apply font-bold __text_primary text-7xl;
    }
    .__heading_2 {
        @apply font-bold __text_primary text-4xl;
    }
    .__heading_3 {
        @apply font-bold __text_primary text-2xl;
    }

    .__text_primary {
        @apply text-rose-800
    }

}

/* width */
::-webkit-scrollbar {
    width: 5px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #f779a1;
    border-radius: 10px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #d2597f;
}

#main-carousel .owl-dots {
    margin-top: -50px !important;
    position: relative;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden !important;
}

.spinner {
    width: 100px;
    height: 100px;
  
    position: relative;
    margin: 100px auto;
  }
  
  .double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
  }
  
  .double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  
  @-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bounce {
    0%, 100% { 
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
    } 50% { 
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
  }